<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shaidulsoftstudio.roktobindu">

    <!-- com.shaidulsoftstudio.roktobindu.activities -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

    <application
        android:name=".normalClass.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/roktobindu_main_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/roktobindu_main_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoktoBindu"
        android:usesCleartextTraffic="true">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.RoktoBindu" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.AllSigninActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.PolicyActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.UnionSelectedActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.LanguageActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.FavouriteActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.AllUserOfProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.UpzilaDonorSelectedActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.DistrictDonorSelectedActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.CategorySelectedActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.DonorRegistrationActivity"
            android:exported="false" />
        <activity
            android:name="com.shaidulsoftstudio.roktobindu.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>